# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
# импортируйте библиотеку pandas
import pandas as pd

In [2]:
# прочитайте csv-файл
try:
    data = pd.read_csv('/Users/666/Documents/Data Analysis/Проекты/df/data.csv')
except:
    data = pd.read_csv('/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
# ваш код здесь
print(data.head(20))

    children  days_employed  dob_years            education  education_id  \
0          1   -8437.673028         42               высшее             0
1          1   -4024.803754         36              среднее             1
2          0   -5623.422610         33              Среднее             1
3          3   -4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0    -926.185831         27               высшее             0
6          0   -2879.202052         43               высшее             0
7          0    -152.779569         50              СРЕДНЕЕ             1
8          2   -6929.865299         35               ВЫСШЕЕ             0
9          0   -2188.756445         41              среднее             1
10         2   -4171.483647         36               высшее             0
11         0    -792.701887         40              среднее             1
12         0            NaN         65              среднее             1
13         0   -1846.641941         54  неоконченное высшее             2
14         0   -1844.956182         56               высшее             0
15         1    -972.364419         26              среднее             1
16         0   -1719.934226         35              среднее             1
17         0   -2369.999720         33               высшее             0
18         0  400281.136913         53              среднее             1
19         0  -10038.818549         48              СРЕДНЕЕ             1

       family_status  family_status_id gender income_type  debt  \
0    женат / замужем                 0      F   сотрудник     0
1    женат / замужем                 0      F   сотрудник     0
2    женат / замужем                 0      M   сотрудник     0
3    женат / замужем                 0      M   сотрудник     0
4   гражданский брак                 1      F   пенсионер     0
5   гражданский брак                 1      M   компаньон     0
6    женат / замужем                 0      F   компаньон     0
7    женат / замужем                 0      M   сотрудник     0
8   гражданский брак                 1      F   сотрудник     0
9    женат / замужем                 0      M   сотрудник     0
10   женат / замужем                 0      M   компаньон     0
11   женат / замужем                 0      F   сотрудник     0
12  гражданский брак                 1      M   пенсионер     0
13   женат / замужем                 0      F   сотрудник     0
14  гражданский брак                 1      F   компаньон     1
15   женат / замужем                 0      F   сотрудник     0
16   женат / замужем                 0      F   сотрудник     0
17  гражданский брак                 1      M   сотрудник     0
18    вдовец / вдова                 2      F   пенсионер     0
19         в разводе                 3      F   сотрудник     0

     total_income                                 purpose
0   253875.639453                           покупка жилья
1   112080.014102                 приобретение автомобиля
2   145885.952297                           покупка жилья
3   267628.550329              дополнительное образование
4   158616.077870                         сыграть свадьбу
5   255763.565419                           покупка жилья
6   240525.971920                       операции с жильем
7   135823.934197                             образование
8    95856.832424                   на проведение свадьбы
9   144425.938277                 покупка жилья для семьи
10  113943.491460                    покупка недвижимости
11   77069.234271       покупка коммерческой недвижимости
12            NaN                         сыграть свадьбу
13  130458.228857                 приобретение автомобиля
14  165127.911772              покупка жилой недвижимости
15  116820.904450  строительство собственной недвижимости
16  289202.704229                            недвижимость
17   90410.586745              строительство недвижимости
18   56823.777243      на покупку подержанного автомобиля
19  242831.107982            на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
# ваш код здесь
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
# ваш код здесь
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
# ваш код здесь
for i in data['income_type'].unique():
    data.loc[(i == data['income_type']) & (data['total_income'].isna()),'total_income'] = \
    data.loc[(data['income_type'] == i), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
# ваш код здесь
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
# ваш код здесь
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
# ваш код здесь
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
# ваш код здесь
data = data.loc[data['children'] != -1]
data = data.loc[data['children'] != 20]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
# ваш код здесь
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [12]:
# ваш код здесь
for d in data['income_type'].unique():
    data.loc[(data['income_type'] == d) & data['days_employed'].isna(), 'days_employed']=\
    data.loc[(data['income_type'] == d), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
# ваш код здесь
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
# ваш код здесь
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
# ваш код здесь
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
# посчитайте дубликаты
print(data.duplicated().sum())

71

In [17]:
# удалите дубликаты
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
# создайте функцию categorize_income()
def categorize_income(data):
    if data['total_income'] <= 30000:
        return 'E'
    if 30001 <= data['total_income'] <= 50000:
        return 'D'
    if 50001 <= data['total_income'] <= 200000:
        return 'C'
    if 200001 <= data['total_income'] <= 1000000:
        return 'B'
    if data['total_income'] >= 1000001:
        return 'A'

In [19]:
# примените функцию методом apply()
data['total_income_category']=data.apply(categorize_income, axis=1)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
# ваш код здесь
print(data['purpose'].unique())

['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
# создайте функцию categorize_purpose()
def categorize_purpose(purpose):
    if 'автомоб' in purpose:
        return 'операции с автомобилем'
    if 'жиль' in purpose or 'недвижи' in purpose:
        return 'операции с недвижимостью'
    if 'свадь'in purpose:
        return 'проведение свадьбы'
    if 'образо' in purpose:
        return 'получение образования'

In [22]:
# примените функцию методом apply()
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
print(data.head(15))

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              среднее             1
8          2    6929.865299         35               высшее             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0  365286.622650         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0

       family_status  family_status_id gender income_type  debt  total_income  \
0    женат / замужем                 0      F   сотрудник     0        253875
1    женат / замужем                 0      F   сотрудник     0        112080
2    женат / замужем                 0      M   сотрудник     0        145885
3    женат / замужем                 0      M   сотрудник     0        267628
4   гражданский брак                 1      F   пенсионер     0        158616
5   гражданский брак                 1      M   компаньон     0        255763
6    женат / замужем                 0      F   компаньон     0        240525
7    женат / замужем                 0      M   сотрудник     0        135823
8   гражданский брак                 1      F   сотрудник     0         95856
9    женат / замужем                 0      M   сотрудник     0        144425
10   женат / замужем                 0      M   компаньон     0        113943
11   женат / замужем                 0      F   сотрудник     0         77069
12  гражданский брак                 1      M   пенсионер     0        118514
13   женат / замужем                 0      F   сотрудник     0        130458
14  гражданский брак                 1      F   компаньон     1        165127

                              purpose total_income_category  \
0                       покупка жилья                     B
1             приобретение автомобиля                     C
2                       покупка жилья                     C
3          дополнительное образование                     B
4                     сыграть свадьбу                     C
5                       покупка жилья                     B
6                   операции с жильем                     B
7                         образование                     C
8               на проведение свадьбы                     C
9             покупка жилья для семьи                     C
10               покупка недвижимости                     C
11  покупка коммерческой недвижимости                     C
12                    сыграть свадьбу                     C
13            приобретение автомобиля                     C
14         покупка жилой недвижимости                     C

            purpose_category
0   операции с недвижимостью
1     операции с автомобилем
2   операции с недвижимостью
3      получение образования
4         проведение свадьбы
5   операции с недвижимостью
6   операции с недвижимостью
7      получение образования
8         проведение свадьбы
9   операции с недвижимостью
10  операции с недвижимостью
11  операции с недвижимостью
12        проведение свадьбы
13    операции с автомобилем
14  операции с недвижимостью

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [45]:
data['children_relationship'] = data.groupby('children')['debt'].sum()/data.groupby('children')['debt'].count()
print(data.head())


children_relationship = data.pivot_table(index = ['children'], values='debt', aggfunc=('mean', lambda x:
                                                                                       x.count()))

def percent(x):
    return '{0:.2%}'.format(x)


children_relationship['mean'] = children_relationship['mean'].apply(percent)
children_relationship = children_relationship.rename(columns={'<lambda_0>': 'всего должников'})
children_relationship.sort_values('mean')

   children  days_employed  dob_years education  education_id  \
0         1    8437.673028         42    высшее             0
1         1    4024.803754         36   среднее             1
2         0    5623.422610         33   среднее             1
3         3    4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1

      family_status  family_status_id gender income_type  debt  total_income  \
0   женат / замужем                 0      F   сотрудник     0        253875
1   женат / замужем                 0      F   сотрудник     0        112080
2   женат / замужем                 0      M   сотрудник     0        145885
3   женат / замужем                 0      M   сотрудник     0        267628
4  гражданский брак                 1      F   пенсионер     0        158616

                      purpose total_income_category          purpose_category  \
0               покупка жилья                     B  операции с недвижимостью
1     приобретение автомобиля                     C    операции с автомобилем
2               покупка жилья                     C  операции с недвижимостью
3  дополнительное образование                     B     получение образования
4             сыграть свадьбу                     C        проведение свадьбы

   children_relationship  family_status_relationship
0               0.075438                    0.075606
1               0.092346                    0.093130
2               0.094542                    0.066246
3               0.081818                    0.070648
4               0.097561                    0.097639

          всего должников   mean
children
5                       9  0.00%
0                   14091  7.54%
3                     330  8.18%
1                    4808  9.23%
2                    2052  9.45%
4                      41  9.76%

In [46]:
def relation(category):
    return data.groupby(category)['debt'].mean().to_frame().sort_values(by='debt')

In [47]:
relation('children')

              debt
children
5         0.000000
0         0.075438
3         0.081818
1         0.092346
2         0.094542
4         0.097561

In [48]:
data.groupby('children')[['debt']].agg(['count','sum','mean'])

           debt
          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

На основании расчетов можно сделать вывод, что люди без детей исправнее олачивают задолженность по кредиту.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [27]:
data['family_status_relationship'] = data.groupby('family_status_id')['debt'].sum()/\
data.groupby('family_status_id')['debt'].count()
print((data['family_status_relationship']*100).head())
print(data['family_status'].unique())
print(data['family_status_id'].unique())

family_status_relationship = data.pivot_table(index = ['family_status'], values='debt', aggfunc=('mean', lambda x:
                                                                                                 x.count()))

def percent(x):
    return '{0:.2%}'.format(x)

family_status_relationship['mean'] = family_status_relationship['mean'].apply(percent)
family_status_relationship = family_status_relationship.rename(columns={'<lambda_0>': 'всего должников'})
family_status_relationship.sort_values('mean')

0    7.560558
1    9.313014
2    6.624606
3    7.064760
4    9.763948
Name: family_status_relationship, dtype: float64
['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']
[0 1 2 3 4]

                       всего должников   mean
family_status
вдовец / вдова                     951  6.62%
в разводе                         1189  7.06%
женат / замужем                  12261  7.56%
гражданский брак                  4134  9.31%
Не женат / не замужем             2796  9.76%

In [28]:
def relation(category):
    return data.groupby(category)['debt'].mean().to_frame().sort_values(by='debt')

In [29]:
relation('family_status')

                           debt
family_status
вдовец / вдова         0.066246
в разводе              0.070648
женат / замужем        0.075606
гражданский брак       0.093130
Не женат / не замужем  0.097639

In [43]:
data.groupby('family_status')[['debt']].agg(['count','sum','mean'])

                        debt
                       count  sum      mean
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

Исходя из рассчетов видно, что наиболее ответственными плательщиками являются вдовы/вдовцы и люди в разводе. Моя гепотиза, что ответственность зависит от возраста плательщика.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [31]:
total_income_relationship = data.pivot_table(index= ['total_income_category'], values='debt', aggfunc=('mean', lambda x:
                                                                                             x.count()))
def percent(x):
    return '{0:.2%}'.format(x)

total_income_relationship['mean'] = total_income_relationship['mean'].apply(percent)
total_income_relationship = total_income_relationship.rename(columns={'<lambda_0>': 'всего должников'})
total_income_relationship.sort_values('mean')

                       всего должников   mean
total_income_category
D                                  349  6.02%
B                                 5014  7.06%
A                                   25  8.00%
C                                15921  8.50%
E                                   22  9.09%

In [32]:
def relation(category):
    return data.groupby(category)['debt'].mean().to_frame().sort_values(by='debt')

In [33]:
relation('total_income_category')

                           debt
total_income_category
D                      0.060172
B                      0.070602
A                      0.080000
C                      0.084982
E                      0.090909

In [42]:
data.groupby('total_income_category')[['debt']].agg(['count','sum','mean'])

                        debt
                       count   sum      mean
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

На оснавании полученных данных, можно сделать вывод по категориям плательщиков

0–30000 — 'E' - платят хуже всех

30001–50000 — 'D' - находятся на первом месте по надежности, рассчитывают на повторное одобрение кредита

50001–200000 — 'C'- показатели близки к категории 'E'

200001–1000000 — 'B'- показатели выше среднего

1000001 и выше — 'A'- средние показатели

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [35]:
purpose_category_relationship = data.pivot_table(index= ['purpose_category'], values='debt', aggfunc=('mean', lambda x:
                                                                                                      x.count()))
def percent(x):
    return '{0:.2%}'.format(x)

purpose_category_relationship['mean'] = purpose_category_relationship['mean'].apply(percent)
purpose_category_relationship = purpose_category_relationship.rename(columns={'<lambda_0>': 'всего должников'})
purpose_category_relationship.sort_values('mean')

                          всего должников   mean
purpose_category
операции с недвижимостью            10751  7.26%
проведение свадьбы                   2313  7.91%
получение образования                3988  9.25%
операции с автомобилем               4279  9.35%

In [36]:
def relation(category):
    return data.groupby(category)['debt'].mean().to_frame().sort_values(by='debt')

In [37]:
relation('purpose_category')

                              debt
purpose_category
операции с недвижимостью  0.072551
проведение свадьбы        0.079118
получение образования     0.092528
операции с автомобилем    0.093480

In [40]:
data.groupby('purpose_category')[['debt']].agg(['count','sum','mean'])

                           debt
                          count  sum      mean
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

Категориями, имеющие наилучшие показатели, являются: операции с недвижимостью и проведение свадьбы.

Ипотека это серьезное долгосрочное и дорогостоющее решение, требующее ответственного подхода.

Чтобы получить ссуду необходимо изначально соответствовать требованиям банка.

***Задание 23. Приведите возможные причины появления пропусков в исходных данных.***

Неправильный ввод

Техническая неисправность

Сокрытие информации

Если ввод данных осуществляется пользователем, то информация может быть пропущена намеренно

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

За отсутствием иного способа восполнить отсутствующие данные, заполнение медианными значениями позволяет сохранить строки таблицы и получить приближенные к реальности данные.Хотя применение этих методов может приводить к существенному искажению статистических свойств набора данных.

Медиана используется, когда между максимальным и минимальными значениями выборки слишком большая разница.

Чиновники едят мясо, я — капусту. В среднем мы едим голубцы.

Если считать при момощи медианы, получим иной результат

## Вывод

**В ходе выполнения данной исследовательской работы мной были сделаны следующие преобразования датафрейма:**

Удаление пропусков

Обработка аномальных значений

Изменение типов данных

Обработка дубликатов

**После чего были произведены следующие вычисления:**

Зависимость количества детей и возврата кредита в срок

**min:** 0 детей 7,54% ,

**max:** 4 ребенка 9,76%.

Зависимость между семейным положением и возвратом кредита в срок

**min:** вдовец/вдова 6,62% ,

**max:** Не женат / не замужем9,76%.

Зависимость между уровнем дохода и возвратом кредита в срок

**min:** категория D 6,02% ,

**max:** категория E 9,09%.

Зависимость между целью кредита и возвратом кредита в срок

**min:** операции с недвижимостью 7,26% ,

**max:** операции с автомобилем 9,35%.

**Исходя из результатов вычислений можно составить портрет идеального клиента:**

Клент - бездетный вдовец либо в разводе, имеет доход выше среднего, заинтресован в приобретении недвижимости.